@import "~bootstrap/scss/bootstrap";


@mixin centre($axis: "ctr") {
  position: absolute;

  @if $axis == "ctr" {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.ctr {
  @include centre;
}

@font-face {
  font-family: "Ubuntu";
}